gallery:
  security:
    protected-services:
      user-service-url: ${USER_SERVICE_URL:http://user-service:8080}
      comment-service-url: ${COMMENT_SERVICE_URL:http://comment-service:8080}

spring:
  application:
    name: Image-Gallery-Service

  datasource:
    url: ${IMAGES_DB_URL:jdbc:postgresql://postgres-images:5432/images_db}
    username: ${IMAGES_DB_USER:testUser}
    password: ${IMAGES_DB_PASSWORD:testPassword}
    hikari:
      connection-timeout: 200000
      max-lifetime: 500000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true

  cloud:
    aws:
      region:
        static: ${AWS_REGION:us-east-1}
      credentials:
        access-key: ${AWS_ACCESS_KEY:test}
        secret-key: ${AWS_SECRET_KEY:test}
      s3:
        enabled: true
        endpoint: ${AWS_URL_ENDPOINT:http://localstack:4566}
        path-style-access-enabled: true

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: 6379
      database: 0
      username: ${REDIS_USER:testRedisUser}
      password: ${REDIS_PASSWORD:testRedisUserPassword}
      client-type: lettuce
      connect-timeout: 2s
      timeout: 2s
      repositories:
        enabled: false
      lettuce:
        pool:
          max-wait: 2s

  cache:
    type: none

    redis:
      time-to-live: 1h
      cache-null-values: false
    caffeine:
      spec: initialCapacity=200,maximumSize=500,expireAfterWrite=30m

  servlet:
    multipart:
      max-request-size: 50MB
      max-file-size: 50MB
      file-size-threshold: 0B

  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

  web:
    resources:
      add-mappings: false

---
#Configuration for dev profile
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5434/images_db
  data:
    redis:
      host: localhost
  cloud:
    aws:
      s3:
        endpoint: http://localhost:4566

gallery:
  security:
    protected-services:
      user-service-url: http://localhost:8081
      comment-service-url: http://localhost:8083

server:
  port: 8082

---
#Configuration for smoke test run
spring:
  config:
    activate:
      on-profile: smoke
  liquibase:
    enabled: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        boot:
          allow:
            allow_jdbc_metadata_access: false
  sql:
    init:
      mode: never
  datasource:
    hikari:
      allow-pool-suspension: true
  data:
    redis:
      lettuce:
        pool:
          enabled: false